:host lightning-button {
  --slds-c-button-brand-color-background: cadetblue;
  --slds-c-button-brand-color-background-hover: #63a6a8;
  --slds-c-button-brand-color-background-active: cadetblue;
  --slds-c-button-brand-color-border: black;
  --slds-c-button-brand-color-border-hover: black;
}

:host .container_button {
  margin: auto;
  width: 30%;
}

:host lightning-accordion {
	--slds-c-accordion-heading-font-size: 1.5rem;
	--slds-c-accordion-color-border: black;
	--slds-c-accordion-sizing-border: 1rem;
	--slds-c-accordion-summary-color-background: cadetblue;
	--slds-c-accordion-heading-text-color: white;
	--slds-c-accordion-heading-text-color-active: white;
	--slds-c-accordion-heading-text-color-hover: white;
}

:host lightning-accordion-section {
	--slds-c-accordion-color-border: black;
	--slds-c-accordion-sizing-border: 1rem;
}