:host lightning-button {
  --slds-c-button-brand-color-background: cadetblue;
  --slds-c-button-brand-color-background-hover: #63a6a8;
  --slds-c-button-brand-color-background-active: cadetblue;
  --slds-c-button-brand-color-border: black;
  --slds-c-button-brand-color-border-hover: black;
}

:host .container_button {
	
	margin: auto;
	margin-top: 1rem;
	width: 30%;
	transition: transform 500ms ease-in-out;
}


:host .container_button:hover {
	transform: scale(1.05, 1.05);
}

:host lightning-accordion {
	--slds-c-accordion-heading-font-size: 1.5rem;
	--slds-c-accordion-color-border: black;
	--slds-c-accordion-sizing-border: 1rem;
	--slds-c-accordion-heading-text-color: white;
}

:host .accordion {
	background-color: cadetblue;
}

:host lightning-accordion-section {
	/** 
	--slds-c-accordion-color-border: black;
	 * **/
	--slds-c-accordion-sizing-border: 0rem;
}

